body {
  /* background-image: linear-gradient(rgba(255, 0, 0, 0.781),  rgba(255, 123, 0, 0.815), rgba(255, 255, 0, 0.692)); */
}

.Title {
  margin: 10px;
  text-align: center;
}

.PokeList{
  font-family: 'Sunflower', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;;
}

.Pokemon {
  border: 3px solid #232323;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.PokemonImage {
  background-color: #616161;
  width: 200px;
}

.PokemonName {
  background-color: #232323;
  margin: 0;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.PokemonTypes {
  background-color: #232323;
  margin: 0;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
.PokemonEvolution {
  background-color: #232323;
  margin: 0;
  padding: 20px 0px 20px 0px;
  text-align: center;
}