.Title {
  text-align: center;
}

.PokeList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;;
}

.Pokemon {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
